<div class="container p-0">
    <div class="card-header bg-primary text-light">
        <div class="row">
            <div class="col-8">
                <h4 class="m-0">
                    <i class="fas fa-shopping-cart"></i>
                    Carrinho de Compras
                </h4>
            </div>
            <div class="col-4 text-right">
                <button class="btn btn-outline-light btn-sm pull-right" [routerLink]="['/home']">Continuar
                    Comprando</button>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <h2 class="text-left">Checkout</h2>

        <div class="row my-4">
            <div class="col-md-6">
                <h5>Escolha onde você quer receber sua compra</h5>
                <hr>

                <div class="endereco p-2 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="enderecoEntrega" id="enderecoExistente"
                            checked>
                        <label class="form-check-label" for="enderecoExistente">
                            Enviar no meu endereço
                        </label>
                    </div>

                    <p class="my-3">
                        <span class="fw-bold">Rua Horácio Martins Domingues 525 - Mongaguá</span>
                        <br>
                        Residential
                    </p>

                    <a href="#" class="text-primary">Editar ou escolher outro endereço</a>
                </div>
            </div>

            <div class="col-md-6">
                <h5>Resumo de Compra</h5>
                <hr>

                <div class="row mb-3 justify-content-between p-3">
                    <p class="mb-1">Produtos (2)</p>
                    <p class="mb-0">R$ 92,99</p>
                </div>

                <div class="row mb-3 justify-content-between p-3">
                    <p class="mb-1">Frete</p>
                    <p class="mb-1">R$ 0,00</p>
                </div>

                <hr>

                <div class="row mb-3 justify-content-between p-3">
                    <p class="fw-bold mb-1">Você pagará</p>
                    <p class="fw-bold mb-0">R$ 92,99</p>
                </div>

                <button type="button" class="btn btn-primary btn-block">Finalizar Compra</button>
            </div>
        </div>
    </div>
</div>