<!-- Page Content -->
<app-menu-sidebar-nav></app-menu-sidebar-nav>
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
            </div>
            <div class="col-lg-10">
                <h1 class="display-5 text-white mt-5 mb-2">Bem-Vindo à Digital Store</h1>
                <p class="lead mb-5 text-white">Os melhores produtos da internet você só encontra aqui...</p>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row pb-3">
        <div class="col-12 col-md-6">
            <form class="form-inline justify-content-center justify-content-md-start mb-sm-3 mb-md-0"
                method="get" id="formBusca">
                <input type="text" name="q" id="q" placeholder="O que você está procurando hoje?" class="form-control form-control-sm mr-sm-2 w-100" />
                <input type="hidden" name="o" value="0" id="o" />
                <input type="hidden" name="p" value="1" id="p" />
                <button class="btn btn-sm btn-primary my-2 my-sm-0 form-control form-control-sm" (click)="onFindClick()">Buscar</button>
            </form>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-flex flex-row-reverse justify-content-md-start justify-content-center">

                <form class="form-inline ml-3 d-inline-block">                   
                    <select class="form-control custom-select-sm selectOrdem" (change)="onOrdenarChange()" [(ngModel)]="order" name="selectOrdem">
                        <option value="0">Ordenar pelo nome do produto (A-Z)</option>
                        <option value="1">Ordenar pelo nome do produto (Z-A)</option>
                        <option value="2">Ordenar pelo menor preço</option>
                        <option value="3">Ordenar pelo maior preço</option>
                    </select>
                </form>

                <nav class="d-inline-block">
                    <ul class="pagination pagination-sm my-0">
                        <li class="page-item" [ngClass]="{'disabled': summary.currentPage == 1}">
                            <button class="page-link" (click)="onPageClick(1)">Primeira</button>
                        </li>
                        <li class="page-item" *ngFor="let pageNumber of getPages()">
                            <button class="page-link" [class.active]="summary.CurrentPage == pageNumber" 
                                (click)="onPageClick(pageNumber)">{{ pageNumber }}</button>
                        </li>
                        <li class="page-item" [ngClass]="{'disabled': summary.currentPage == summary.totalPages}">
                            <button class="page-link" (click)="onPageClick(summary.totalPages)">Última</button>
                          </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4" *ngFor="let produto of produtos">
            <div class="card h-100">
                <img [routerLink]="['/produto-detalhes',produto.id]" class="card-img-top " [src]="imagens + produto.imagem" alt="{{produto.nome}}" style="height: 164px; width: 253px; object-fit: contain; cursor: pointer;" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{produto.nome | titlecase}}</h4>

                    <p class="card-text">{{produto.descricao}}</p>

                    <div [ngSwitch]="produto.promocao">
                        <p *ngSwitchCase="true">Promoção!</p>
                        <p *ngSwitchCase="false">Por apenas:</p>
                    </div>

                    <div *ngIf="produto.promocao" class="card-body">
                        <div>
                            <h4 class="card-text">De:
                                <small><del>{{ produto.valor | currencyBrazil }}</del></small>
                                Por: {{ produto.valorPromo | currencyBrazil }}
                            </h4>
                        </div>
                    </div>

                    <div *ngIf="!produto.promocao" class="card-body">
                        <div>
                            <h4>{{ produto.valor | currencyBrazil }}</h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-success text-white" (click)="adicionarAoCarrinho(produto)">
                        <span class="fa fa-shopping-cart"></span> Comprar
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Fim Content -->