<div class="text-center">
    <h1 class="display-4">Bem-Vindo à Digital Store</h1>
    <p><a>Os melhores produtos da internet você só encontra aqui...</a></p>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <form class="form-inline justify-content-center justify-content-md-start mb-sm-3 mb-md-0" action="/Index"
            method="get" id="formBusca">
            <input type="text" name="q" id="q" placeholder="Nome do produto a buscar"
                class="form-control form-control-sm mr-sm-2" />
            <input type="hidden" name="o" value="0" id="o" />
            <input type="hidden" name="p" value="1" id="p" />
            <button class="btn btn-sm btn-success my-2 my-sm-0 form-control form-control-sm">Buscar</button>
        </form>
    </div>
    <div class="col-12 col-md-6">
        <div class="d-flex flex-row-reverse justify-content-md-start justify-content-center">

            <form class="form-inline ml-3 d-inline-block">
                <select class="form-control custom-select-sm selectOrdem">
                    <option value="1">Ordenar pelo nome do produto</option>
                    <option value="2">Ordenar pelo menor preço</option>
                    <option value="3">Ordenar pelo maior preço</option>
                </select>
            </form>

            <nav class="d-inline-block">
                <ul class="pagination pagination-sm my-0">

                    <li class="page-item disabled">
                        <button class="page-link" value="1"><b>1</b></button>
                    </li>

                    <li class="page-item">
                        <button class="page-link" value="2">2</button>
                    </li>
                    <li class="page-item">
                        <button class="page-link" value="3">3</button>
                    </li>
                    <li class="page-item">
                        <button class="page-link" value="4">4</button>
                    </li>

                </ul>
            </nav>
        </div>
    </div>

    <hr class="mt-4 mb-4" />
    
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch" *ngFor="let produto of produtos">
            <div class="card text-center bg-light mb-4">
                <!-- <img class="card-img-top" src="https://dummyimage.com/600x400/9c999c/545054.jpg&text={{produto.nome}}"> -->
                <img class="card-img-top" [src]="obterUrlImagem(produto.produtoId)" [alt]="'Imagem de ' + produto.nome" >
                <div class="card-header">
                   {{ produto.preco}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{produto.nome}}</h5>
                    <p class="card-text">{{produto.descricao}}</p>
                </div>
                <div class="card-footer">
    
                    <form class="d-inline-block" href="/Carrinho" id="id" method="post">
                        <button type="submit" class="btn btn-danger btn-block" [ngClass]="{'disabled': produto.estoque === 0}">
                             {{produto.estoque === 0 ? "Indisponível" : "Adicionar ao Carrinho"}}
                        </button>
                    </form>
                    <br>
                    <small class="text-success">Estoque: {{produto.estoque}}</small>
    
                </div>
            </div>
        </div>
